<div class="flex flex-col min-h-screen">
  <ui-header
    [configclass]="CONST_HEADERS.CONFIG_CLASS"
    [labelHeader]="CONST_HEADERS.LABEL"
    [iconNameHeader]="CONST_HEADERS.ICON_NAME"
  />
  <section>
    <ui-entities
      [titleEntities]="CONST_ENTITIES.TITLE"
      [subtitleEntities]="CONST_ENTITIES.SUB_TITLE"
      [iconInputEntities]="CONST_ENTITIES.ICON"
      [labelInputRight]="CONST_ENTITIES.LABEL_RIGHT"
      [labelEvents]="CONST_ENTITIES.LABEL_EVENTS"
      [setNumberEvents]="valueNumberEvents"
      [control]="form.formGroupService.controls.entities"
    ></ui-entities>
    <hr class="mx-6" />
    <ui-cycles
      [title]="CONST_CYCLES.TITLE"
      [titleTable]="CONST_CYCLES.TITLE_TABLE"
      [subtitle]="CONST_CYCLES.SUBTITLE"
      [description]="CONST_CYCLES.DESCRIPTION"
      [checkedPriorityHigh]="CONST_CYCLES.PRIORITY"
      [setCycles]="cyclosSignal()"
      (itemSelecionado)="onItemSelectedCycles($event)"
    ></ui-cycles>
    <hr class="mx-6" />
    <div class="flex justify-between items-center w-full p-6">
      <div class="flex bg-gray-100 p-6 w-full rounded-md gap-16">
        <div class="flex flex-1 flex-col gap-2">
          <h1 class="font-inter font-normal text-xl leading-5">
            {{ CONST_LABELS_CHART.TITLE }}
          </h1>
          <h5 class="font-inter font-normal leading-5 text-primary">
            {{ CONST_LABELS_CHART.SUB_TITLE }}
          </h5>
        </div>
      </div>
    </div>
    <div class="flex items-center px-6 pt-6">
      <ui-chart
        class="w-full"
        [series]="chartData"
        [categories]="chartCategories"
        [colors]="chartColors"
        [chartType]="CONST_CHART.TYPE"
        [chartHeight]="CONST_CHART.HEIGHT"
        [stacked]="CONST_CHART.STACKED"
        [showLegend]="CONST_CHART.SHOW_LEGEND"
        [legendPosition]="CONST_CHART.LEGEND_POSITION"
        [dataLabelsEnabled]="CONST_CHART.LABELS_ENABLE"
      ></ui-chart>
    </div>
    <div class="flex justify-end items-center w-full p-6 gap-4">
      <meetime-button
        [labelButton]="CONST_BUTTONS.CLOSE.LABEL"
        [textColor]="CONST_BUTTONS.CLOSE.TEXT_COLOR"
      ></meetime-button>
      <meetime-button
        [labelButton]="CONST_BUTTONS.INCLUDE.LABEL"
        [colorBackground]="CONST_BUTTONS.INCLUDE.BACKGROUND"
        [textColor]="CONST_BUTTONS.INCLUDE.TEXT_COLOR"
      ></meetime-button>
    </div>
  </section>
</div>
